:root{
  --primary: #223237;
  --secondary: #18121E;
  --warm-Yellow: #EAC67A;
  --rust: #984B41;
  --white: #fffffe;

}
html{
  scroll-behavior: smooth;
}
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  /* border: 1px solid red; */
}
body{
  font-family: 'Poppins', sans-serif;
  background-color: #223237;
}
.wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.3rem 5rem;
  width: 100%;
  flex-grow: 2;
  /* border: 2px solid white; */
}
.wrapper a{
  text-decoration: none;
}
.logo a{
  color: var(--rust);
  font-size: 1.5em;
  font-weight: 400;
  letter-spacing: 1.25px;
}
nav{
  display: flex;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
  gap: 430px;
  /* margin-right: 310px; */
}
.btn__close{
  display: inline-block;
  color: var(--rust);
  font-size: 42px;
  cursor: pointer;
  display: none
}

.nav__hamburger{
  display: inline-block;
  color: var(--rust);
  font-size: 32px;
  background: var(--primary);
  cursor: pointer;
  display: none;
}
.nav-list{
  list-style: none;
  display: flex;
  gap: 27px;
}
.list-links a{
  color: var(--warm-Yellow);
  position: relative;
  font-size: 1.2em;
  letter-spacing: 1px;
  
}
.boton{
  display: flex;
  align-items: center;
}
.lbl-switch{
  display: inline-block;
  width: 61px;
  height: 36px;
  background: var(--primary);
  border: 3px solid var(--rust);
  border-radius: 100px;
  position: relative;
  cursor: pointer;
}
#btn-switch:checked~ .lbl-switch{
 background-color: var(--warm-Yellow);
}
.lbl-switch::after{
  position: absolute;
  content: '';
  width: 15px;
  height: 15px;
  background-color: var(--primary);
  border: 3px solid var(--rust);
  border-radius: 50%;
  top: 4px;
  left: 5px;
  transition: 0.3s;
}
#btn-switch:checked~ .lbl-switch::after{
  left: 28px;
  background-color: var(--warm-Yellow);
}
#btn-switch{
  display: none;
}
.wrapper li a:after{
  content: "";
  position: absolute;
  background-color: var(--rust);
  height: 3px;
  width: 0;
  left: 0;
  bottom: -10px;
  transition: 0.4s;
}
.wrapper li a:hover:after{
  width: 100%;
}
.icon{
  background-color: var(--rust);
  border: none;
  width: 42px;
  height: 42px;
  border-radius: 10px;
  cursor: pointer;
}

/* main */

main{
  width: 100vw;
  display: flex;
  /* border: 1px solid #fafafafa; */
  /* margin: 0px 80px; */
  margin-top: 50px;
  justify-content: center;
  align-items: center;
}

.center{
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.logo__image{
  display: flex;
  justify-content: center;
  width: 376px;
  height: 367px;
  object-fit: cover;
  border-radius: 50%;
  border: 8px solid var(--rust);
  box-shadow: 2px 2px 77px -11px rgba(141, 137, 137, 0.252);
}
.container__main{
  justify-content: center;
  position: relative;
  width: 390px;
}

.logo__css{
  display: flex;
  width: 104px;
  height: 104px;
  /* z-index: 100; */
  background:rgba(255,255,255,0.40);
  box-shadow: 24px 19px 21px -21px rgba(0,0,0,0.27);
  backdrop-filter:blur(20px);
  border-radius: 20px;                   
  position: absolute;
  top: -40px;
  justify-content: center;
  align-items: center;
  animation: float 2.5s infinite;
  transform: translatey(0);
}
.logo__js{
  display: flex;
  width: 104px;
  height: 104px;
  background:rgba(255,255,255,0.40);
  box-shadow: 24px 19px 21px -21px rgba(0,0,0,0.27);
  backdrop-filter:blur(20px);
  border-radius: 20px;  
  position: absolute;
  bottom: -20px;
  right: 0px;
  justify-content: center;
  align-items: center;
  animation: float 2.5s infinite;
  transform: translatey(0);
}
.logo__html{
  display: flex;
  width: 104px;
  height: 104px;
  background:rgba(255,255,255,0.40);
  box-shadow: 24px 19px 21px -21px rgba(0,0,0,0.27);
  backdrop-filter:blur(20px);
  border-radius: 20px;  
  position: absolute;
  bottom: -10px;
  justify-content: center;
  align-items: center;
  animation: float 2.5s infinite;
  transform: translatey(0);
}
.logo__figma{
  display: flex;
  width: 104px;
  height: 104px;
  background:rgba(255,255,255,0.40);
  box-shadow: 24px 19px 21px -21px rgba(0,0,0,0.27);
  backdrop-filter:blur(20px);
  border-radius: 20px;  
  position: absolute;
  top: -20px;
  right: 0px;
  justify-content: center;
  align-items: center;
  animation: float 2.5s infinite;
  transform: translatey(0);
}
.logo__figma img{
  border-radius: 10px;
}

@keyframes float{
  0%{
    transform: translatey(0);
  }
  50%{
    transform: translatey(10px);
  }
}

.contain__logo{
  width: 60px;
  height: 60px;
  object-fit: cover;
}

h1{
  color: var(--rust);
  font-size: 70px ;
  line-height: 105px;
  letter-spacing: 0.01em;
}
.about-me{
  width: 770px;
  height: 221px;
  display: flex;
  flex-direction: column;
  margin: 10px ;
  align-items: center;
}

.about-me p{
  text-align: justify;
  color: var(--white);
  opacity: .8;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 20px;
  line-height: 31px;
  font-weight: 400;
}

.button__icon{
  font-size: 20px;
  color: var(--rust);
}
.button__cv{
  display: flex;
  gap: 5px;
  text-align: center;
  align-items: center;
  border: 2px solid var(--rust);
  border-radius: 5px;
  padding: 8px 10px;
  margin-bottom: 60px ;
  text-transform: uppercase;
  size: 13px;
  font-weight:500px ;
  text-decoration: none;
  color: var(--rust);
  letter-spacing: 0.0125em;
  line-height: 20px;
  position: relative;
  overflow: hidden;
}
.button__cv span{
  position:absolute;
  width:100%;
  height:100px;
  border-radius:100%;
  background:var(--warm-Yellow);
  top:-88%;
  left:-101%;
  transition: all 700ms;
  z-index: -1;

}
.button__cv:hover span{
 left: -7px;
}

/* Projects  */

.projects{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--secondary);
  padding: 4.37em 11.43em;
  max-width: 100%;
}
.projects__container{
  height: 100%;
 display: flex;
 /* flex-direction: column; */
 justify-content: space-between;
 align-items: center;
 flex-wrap: wrap;
 gap:76px ;
}


.projects__title{
  color: var(--white);
  display: flex;
  justify-content: center;
  font-size:60px ;
  font-style: normal;
  line-height: 90px;
  font-weight: 400;
  margin-bottom: 112px;
}
.projects__card{
  display: flex;
  flex-direction: column;
  background-color: var(--warm-Yellow);
  width: 284px;
  height: 367px;
  border-radius:10px;
}
.card__content{
  width: auto;
  height: fit-content;
  padding: 10px;
  display: flex;
  border-top: 1px solid black;
  flex-direction: column;
  justify-content: space-between;
  gap:25px;
  background-color: var(--warm-Yellow);
}

.card__img img{
  border-radius: 10px 10px 0px 0px;
  width: 284px;
  height: 100%;
  object-fit: fill;

}

.card__title{
  color: var(--secondary);
}
.card__text{
  color:var(--rust);
  width: 100%;
  height: 60%;
  font-size: 12px;
  text-align: justify;
}
.button__content{
  display: flex;
  gap: 10px;
  width: 100%;
}
.button__card{
  width: 127px;
  height: 28px;
  display: flex;
  gap: 5px;
  text-align: center;
  align-items: center;
  border: 2px solid var(--rust);
  border-radius: 5px;
  padding: 8px 10px;
  text-transform: uppercase;
  size: 13px;
  font-weight:500px ;
  text-decoration: none;
  color: var(--rust);
  letter-spacing: 0.0125em;
  line-height: 20px;
  transition: all 300ms;
}
.button__card:hover{
  transform: scale(1.1);
}
.selected{
  background-color: var(--rust);
  color: var(--white);
}
/* Skills */
.skills{
  height: 100vh;
}
.skills__container{
  background-color: var(--rust);
  height: 114px;
  display:flex;
  justify-content: center;
  align-items: center;
  gap: 88px;
  margin: 280px 185px;
}
.skills__icon{
  color: var(--warm-Yellow);
  width: 42px;
  height: 42px;
  font-size: 42px;
}
.skill__title{
  padding-top: 45px;
}
/* contat me */
.contact-me{
  background-color: var(--secondary);
  padding-bottom: 45px;
}
.contact__stack{
  height: 114px;
  display:flex;
  justify-content: center;
  align-items: center;
  gap: 88px;
  margin: 100px 185px;
}
.contact__icon{
  text-decoration: none;
  color: var(--warm-Yellow);
  width: 60px;
  height: 60px;
  font-size: 30px;
  padding: 10px;
  display: flex;
  border: 2px solid var(--warm-Yellow);
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  transition: all .3s;
}
.contact__icon:hover{
  background-color: var(--warm-Yellow);
  color: var(--rust);
  transform: scale(1.2)
}

@media screen and (max-width:1450px) {
  nav{
    gap: 390px;
    /* margin-right: 268px; */
  }
  .projects{
    padding:2.5em 3.75em 10.5em;
    margin-bottom: 60px;
  }
  .projects__title{
    margin-bottom: 60px;
  }
  .projects__container{
    gap: 50px;
  }
  .skills__container{
    margin: 200px 156px;
  }
}

@media screen and (max-width:1224px){
  nav{
    gap: 346px;
  }
  .wrapper{
    padding: 2.3rem 2rem;
  }
  .projects{
    padding: 2.5em 12.75em 10.5em;
  }
  .projects__container{
    gap: 50px;
  }  

  .skills{
    height: 60vh;
  }
}

@media screen and (max-width:1020px ) {
  .wrapper{
    padding: 2.3rem 4rem;
  }
 
  nav{
    gap: 43px;
    justify-content: start;
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
    background-color: var(--warm-Yellow);
    height: 100vh;
    width: 500px;
    top: 0;
    right: -500px;
    position: fixed;
    z-index: 99;
    padding: 60px;
    transition: all 300ms ease-in;
    /* display: none; */
  }
  .btn__close{
    position: fixed;
    display: none;
  }
.back__menu{
  position: fixed;
  top:0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, .6);
  display: none;
  z-index: 99;

}
  .nav-list{
    flex-direction: column;
    margin: 70px;
    gap: 70px;
  }
  .nav-list a{
    color: var(--rust);
    font-size: 2em;
  }
  .boton{
    margin-left: 70px;
  }

  .nav__hamburger{
    display: inline-block;
  }
  .projects{
    padding: 2.5em 8.75em 10.5em;
  }
  .lbl-switch{
    width:90px;
    height: 50px;
    background-color: var(--warm-Yellow);
  }
  .lbl-switch::after{
    width: 25px;
    height: 25px;
    top: 6px;
    left: 9px;
  }
  #btn-switch:checked~ .lbl-switch{
    background-color: var(--primary);
   }
   #btn-switch:checked~ .lbl-switch::after{
    left: 43px;
    background-color: var(--warm-Yellow);
  }
}

@media screen and (max-width:897px ) {
  .projects__container{
    flex-direction: column;
  }
}

@media screen and (max-width: 790px) {
  h1{
    font-size: 2em;
  }
  .about-me{
    width: 360px;
    margin: 50px;
  }
  .about-me p{
    font-size: 14px;
  }
  .skills{
    height: 100vh;
  }
  .contact__stack{
    margin: 100px;
  }
}
@media screen and (max-width:480px ) {
  .logo a{
    font-size: 1em;
  }
.skills__container{
  margin: 162px 25px;
  gap: 60px;
}
.contact__stack {
  margin: 30px;
  gap: 50px;
}
}
@media screen and (max-width:412px ) {
  .logo a{
    font-size: 18px;
  }
  .wrapper{
    padding: 2.3em 2em;
  }

}
@media screen and (max-width: 390px) {

  .wrapper{
    padding: 24px;
  }
  .container__main{
    width: 230px;
  }
  main{
    flex-direction: column;
   }
   .logo__image{
     width: 260px;
     height: 260px;
   }
   h1{
    font-size: 1.5em;
   }
   .about-me{
    width: 278px;
    margin: 100px;
   }
   .about-me p{
    font-size: 1em;
   }
 
   .logo__css,
   .logo__figma,
   .logo__html,
   .logo__js{
     width: 90px;
     height: 90px;
   }
   .logo__figma,
   .logo__js{
     right: -45px;
   }
   .logo__css,
   .logo__html{
     right: 164px;
   }
   
   .contain__logo{
     width: 50px;
     height: 50px;
   }
 
   .logo a{
     font-size: 1em;
   }
   .projects{
     padding: 24px;
   }
   .center{
     width: 46vh;
   }
   .projects__title{
     font-size: 32px;
   }
 
   .skill__title{
     font-size: 32px;
   }
   .contact__stack{
     gap: 16px;
     margin:30px;
   }
   .contact__icon{
     width: 32px;
     height: 32px;
     padding: 24px
   }
   .contact-me{
    width: auto;
   }
   .skills{
     height: 70vh;
   }
   .skills__container{
     margin: 10px;
     gap: 20px;
   }
}


/* @media screen and (max-width:1717px ) {
nav{
  display: flex;
  flex-wrap: nowrap;
  padding: 10px;
}
.list-links{
  padding: 10px;
  display: flex;
  flex-wrap: nowrap;
}
} */

/* @media  screen and (max-width:360px)  {
  .wrapper{
    margin: 24px;
    padding: 0;
  }
  nav{
    display: flex;
    justify-content: space-between;
    gap: 45px;
  }
  .logo{
    font-size: 16px;
  }
  .icon{
    display: none;
  }
  .nav__hamburger{
    display: flex;
  }
  .nav-list{display: none;}
  .container__main{
    width: 171.19px;
    height: 166.84px;
  }
  .logo__css{
    width: 47px;
    height: 47px;
    border-radius: 8px;
  }
  .logo__js{
    width: 47px;
    height: 47px;
    border-radius: 8px;
  }
  .logo__html{
    width: 47px;
    height: 47px;
    border-radius: 8px;
  }
  .logo__figma{
    width: 47px;
    height: 47px;
    border-radius: 8px;
  }
  .logo__image{
    width: 163.3px;
    height: 159.15px;
  }
  .contain__logo{
    width: 26.04px;
    height: 31.01px;
  }
  .about-me{
    width: 312px;
  }
  h1{
    font-size: 24px;
  }
  .about-me p{
    font-size:12px ;
  }
} */







