<div class="flex flex-col justify-center items-center mb-[100px]">
  <div class="relative w-[390px] flex justify-center">
    <div>
      <img
        src="/img/IMG_5736_Original.jpg"
        alt=""
        class="flex justify-center w-[376px] h-[367px] object-cover rounded-full border-[8px] border-rust shadow-xl aspect-[1/1]"
      />
    </div>

    <div class="logo__css">
      <img
        class="w-[60px] h-[60px] object-cover"
        src="/img/swiftui-96x96_2x.png"
        alt="imagen de lenguaje swift"
      />
    </div>
    <div class="logo__js">
      <img
        class="w-[60px] h-[60px] object-cover"
        src="/img/pngwing.com (1).png"
        alt=""
      />
    </div>
    <div class="logo__html">
      <img
        class="w-[60px] h-[60px] object-cover"
        src="/img/klipartz.com.png"
        alt=""
      />
    </div>
    <div class="logo__figma">
      <img
        class="w-[60px] h-[60px] object-cover"
        src="/img/figma-logo.png"
        alt=""
      />
    </div>
  </div>

  <div class="w-[770px] flex flex-col m-5 items-center">
    <h1
      class="text-rust !text-[4rem] leading-[105px] tracking-[0.01em] !font-bold text-center mb-[25px]"
    >
      Mobile Developer
    </h1>

    <p
      class="text-justify text-whiteCustom opacity-80 px-2.5 text-base font-normal"
    >
      Desarrollador de software con dos años de experiencia, especializado en el
      diseño y desarrollo de aplicaciones móviles. Destacado por mi enfoque en
      la creación de interfaces de usuario (UI/UX) intuitivas y atractivas
      utilizando la tecnología Flutter. Competente en el uso de Figma para el
      diseño de interfaces, facilitando la creación de prototipos y promoviendo
      una colaboración efectiva en el proceso de diseño. Actualmente, estoy
      buscando la posibilidad de trabajar en el desarrollo nativo para iOS,
      ampliando mis habilidades y contribuyendo a proyectos innovadores en esta
      plataforma.
    </p>
  </div>

  <a
    download="CV Adrian Castañeda"
    href="/Portfolio/CV/ADRIAN CASTAÑEDA CV INGLES.pdf"
    class="button__cv flex gap-1 text-center items-center border-2 border-rust rounded px-2 py-2 mb-14 uppercase text-sm font-medium text-rust tracking-wide leading-5 relative overflow-hidden"
  >
    <i class="fa-solid fa-file-arrow-down text-[20px] text-rust"></i>
    download my CV
    <span></span>
  </a>
</div>
