<section id="contactme" class="bg-secondary pb-[45px]">
  <h2
    class="text-whiteCustom flex justify-center text-[60px] leading-[90px] font-normal mb-[112px] pt-[45px]"
  >
    Contact me
  </h2>

  <div
    class="h-[114px] flex justify-center items-center gap-[88px] my-[100px] mx-[185px]"
  >
    <a
      href="https://www.linkedin.com/in/adrian-casta%C3%B1eda-51926b1a4/"
      target="_blank"
      class="text-warmYellow w-[60px] h-[60px] text-[30px] p-[10px] flex border-2 border-warmYellow rounded-[5px] items-center justify-center transition-transform duration-300 hover:bg-warmYellow hover:text-rust hover:scale-125"
    >
      <i class="fa-brands fa-linkedin"></i>
    </a>
    <a
      href="https://github.com/AdrianesDev"
      target="_blank"
      class="text-warmYellow w-[60px] h-[60px] text-[30px] p-[10px] flex border-2 border-warmYellow rounded-[5px] items-center justify-center transition-transform duration-300 hover:bg-warmYellow hover:text-rust hover:scale-125"
    >
      <i class="fa-brands fa-github"></i>
    </a>
    <a
      href="https://twitter.com/AdrianesDev"
      target="_blank"
      class="text-warmYellow w-[60px] h-[60px] text-[30px] p-[10px] flex border-2 border-warmYellow rounded-[5px] items-center justify-center transition-transform duration-300 hover:bg-warmYellow hover:text-rust hover:scale-125"
    >
      <i class="fa-brands fa-twitter"></i>
    </a>
    <a
      href="https://www.instagram.com/adriianess/"
      target="_blank"
      class="text-warmYellow w-[60px] h-[60px] text-[30px] p-[10px] flex border-2 border-warmYellow rounded-[5px] items-center justify-center transition-transform duration-300 hover:bg-warmYellow hover:text-rust hover:scale-125"
    >
      <i class="fa-brands fa-instagram"></i>
    </a>
  </div>
</section>
