<header class="flex justify-between items-center px-20 py-10 w-full">
  <span>
    <a href="#" class="text-rust text-[1.5em] font-normal tracking-[1.25px]"
      >Adrian Castañeda Rodriguez</a
    >
  </span>

  <div
    id="back_menu"
    class="fixed inset-0 w-full h-screen bg-black/60 hidden z-[99]"
  >
  </div>

  <nav id="nav" class="flex items-center gap-[430px] px-2 py-2">
    <i
      id="close"
      class="fa-solid fa-xmark text-rust text-[42px] cursor-pointer hidden"></i>

    <ul class="flex gap-7 list-none">
      <ul class="flex gap-7 list-none">
        <li class="list-links">
          <a
            href="/Portfolio #projects"
            class="text-warmYellow relative text-lg tracking-wide">Projects</a
          >
        </li>
        <li class="list-links">
          <a
            href="/Portfolio #skills"
            class="text-warmYellow relative text-lg tracking-wide">Skills</a
          >
        </li>
        <li class="list-links">
          <a
            href="/Portfolio #contactme"
            class="text-warmYellow relative text-lg tracking-wide">Contact me</a
          >
        </li>
      </ul>
    </ul>

    <div class="flex items-center">
      <input type="checkbox" id="btn-switch" class="hidden" />
      <label for="btn-switch" class="lbl-switch"></label>
    </div>
  </nav>

  <i
    id="btn-menu"
    class="fa-solid fa-bars text-rust text-[32px] bg-primary cursor-pointer hidden"
  ></i>
</header>
