<section
  id="projects"
  class="flex flex-col items-center justify-center bg-secondary px-44 py-20 max-w-full"
>
  <h2
    class="text-whiteCustom flex justify-center text-[60px] leading-[90px] font-normal mb-[112px]"
  >
    Projects
  </h2>

  <div class="flex justify-between items-center flex-wrap gap-[76px]">
    <!-- Project 1 -->
    <div class="flex flex-col bg-warmYellow w-[284px] h-[367px] rounded-[10px]">
      <img
        src="/img/Spotifu.png"
        alt="Spotifu project"
        class="rounded-t-[10px] w-[284px] h-full object-fill"
      />
      <div
        class="w-auto h-fit p-[10px] flex flex-col justify-between gap-[25px] border-t border-black bg-warmYellow"
      >
        <h3 class="text-secondary">Title: Spotifu</h3>
        <p class="text-rust w-full h-[60%] text-[12px] text-justify">
          Replica de spotify, con la finalidad de aprender la propiedad de
          flexbox y la creacion de componentes.
        </p>
        <div class="flex gap-[10px] w-full">
          <a
            href="/Portfolio https://adrianesdev.github.io/Spotifu/"
            target="_blank"
            class="w-[127px] h-[28px] flex gap-[5px] text-center items-center border-2 border-rust rounded-[5px] px-[10px] py-[8px] uppercase text-[13px] font-medium text-whiteCustom tracking-[0.0125em] leading-5 transition-transform duration-300 hover:scale-110 bg-rust"
          >
            <i class="fa-solid fa-arrow-up-right-from-square"></i>
            visit site
          </a>
          <a
            href="/Portfolio https://github.com/AdrianesDev/Spotifu"
            target="_blank"
            class="w-[127px] h-[28px] flex gap-[5px] text-center items-center border-2 border-rust rounded-[5px] px-[10px] py-[8px] uppercase text-[13px] font-medium text-rust tracking-[0.0125em] leading-5 transition-transform duration-300 hover:scale-110"
          >
            <i class="fa-brands fa-github"></i>
            github
          </a>
        </div>
      </div>
    </div>

    <!-- Project 2 -->
    <div class="flex flex-col bg-warmYellow w-[284px] h-[367px] rounded-[10px]">
      <img
        src="/img/weather-app.png"
        alt="Aplicacion del tiempo"
        class="rounded-t-[10px] w-[284px] h-full object-fill"
      />
      <div
        class="w-auto h-fit p-[10px] flex flex-col justify-between gap-[25px] border-t border-black bg-warmYellow"
      >
        <h3 class="text-secondary">Title: weather-app</h3>
        <p class="text-rust w-full h-[60%] text-[12px] text-justify">
          Integracion de una API con fetch, manejo de informacion JSON.
        </p>
        <div class="flex gap-[10px] w-full">
          <a
            href="/Portfolio https://weather-app-ruddy-three.vercel.app/"
            target="_blank"
            class="w-[127px] h-[28px] flex gap-[5px] text-center items-center border-2 border-rust rounded-[5px] px-[10px] py-[8px] uppercase text-[13px] font-medium text-whiteCustom tracking-[0.0125em] leading-5 transition-transform duration-300 hover:scale-110 bg-rust"
          >
            <i class="fa-solid fa-arrow-up-right-from-square"></i>
            visit site
          </a>
          <a
            href="/Portfolio https://github.com/AdrianesDev/weather-app"
            target="_blank"
            class="w-[127px] h-[28px] flex gap-[5px] text-center items-center border-2 border-rust rounded-[5px] px-[10px] py-[8px] uppercase text-[13px] font-medium text-rust tracking-[0.0125em] leading-5 transition-transform duration-300 hover:scale-110"
          >
            <i class="fa-brands fa-github"></i>
            github
          </a>
        </div>
      </div>
    </div>

    <!-- Project 3 -->
    <div class="flex flex-col bg-warmYellow w-[284px] h-[367px] rounded-[10px]">
      <img
        src="/img/Curso-html-css.png"
        alt="introduccion a la web"
        class="rounded-t-[10px] w-[284px] h-full object-fill"
      />
      <div
        class="w-auto h-fit p-[10px] flex flex-col justify-between gap-[25px] border-t border-black bg-warmYellow"
      >
        <h3 class="text-secondary">Title: HTML y CSS3</h3>
        <p class="text-rust w-full h-[60%] text-[12px] text-justify">
          Creacion de una pagina estatica, con informacion sobre como iniciar en
          HTML y CSS.
        </p>
        <div class="flex gap-[10px] w-full">
          <a
            href="/Portfolio https://adrianesdev.github.io/curso-escencial-html-css/"
            target="_blank"
            class="w-[127px] h-[28px] flex gap-[5px] text-center items-center border-2 border-rust rounded-[5px] px-[10px] py-[8px] uppercase text-[13px] font-medium text-whiteCustom tracking-[0.0125em] leading-5 transition-transform duration-300 hover:scale-110 bg-rust"
          >
            <i class="fa-solid fa-arrow-up-right-from-square"></i>
            visit site
          </a>
          <a
            href="/Portfolio https://github.com/AdrianesDev/curso-escencial-html-css"
            target="_blank"
            class="w-[127px] h-[28px] flex gap-[5px] text-center items-center border-2 border-rust rounded-[5px] px-[10px] py-[8px] uppercase text-[13px] font-medium text-rust tracking-[0.0125em] leading-5 transition-transform duration-300 hover:scale-110"
          >
            <i class="fa-brands fa-github"></i>
            github
          </a>
        </div>
      </div>
    </div>

    <!-- Project 4 -->
    <div class="flex flex-col bg-warmYellow w-[284px] h-[367px] rounded-[10px]">
      <img
        src="/img/Video-player.png"
        alt="Video-player"
        class="rounded-t-[10px] w-[284px] h-full object-fill"
      />
      <div
        class="w-auto h-fit p-[10px] flex flex-col justify-between gap-[25px] border-t border-black bg-warmYellow"
      >
        <h3 class="text-secondary">Title: Video player</h3>
        <p class="text-rust w-full h-[60%] text-[12px] text-justify">
          manejo de DOM con JS, haciendo funcionar un reproductor de video, con
          sus propios botones
        </p>
        <div class="flex gap-[10px] w-full">
          <a
            href="/Portfolio https://adrianesdev.github.io/video-player/"
            target="_blank"
            class="w-[127px] h-[28px] flex gap-[5px] text-center items-center border-2 border-rust rounded-[5px] px-[10px] py-[8px] uppercase text-[13px] font-medium text-whiteCustom tracking-[0.0125em] leading-5 transition-transform duration-300 hover:scale-110 bg-rust"
          >
            <i class="fa-solid fa-arrow-up-right-from-square"></i>
            visit site
          </a>
          <a
            href="/Portfolio https://github.com/AdrianesDev/video-player"
            target="_blank"
            class="w-[127px] h-[28px] flex gap-[5px] text-center items-center border-2 border-rust rounded-[5px] px-[10px] py-[8px] uppercase text-[13px] font-medium text-rust tracking-[0.0125em] leading-5 transition-transform duration-300 hover:scale-110"
          >
            <i class="fa-brands fa-github"></i>
            github
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
