<section id="skills" class="h-screen">
  <h2
    class="text-whiteCustom flex justify-center text-[60px] leading-[90px] font-normal mb-[112px] pt-[45px]"
  >
    Skills
  </h2>

  <div
    class="bg-rust h-[114px] flex justify-center items-center gap-[88px] my-[280px] mx-[185px]"
  >
    <i class="fa-brands fa-figma text-warmYellow w-[42px] h-[42px] text-[42px]"
    ></i>
    <i class="fa-brands fa-swift text-warmYellow w-[42px] h-[42px] text-[42px]"
    ></i>
    <i
      class="fa-brands fa-app-store-ios text-warmYellow w-[42px] h-[42px] text-[42px]"
    ></i>
    <i
      class="fa-brands fa-flutter text-warmYellow w-[42px] h-[42px] text-[42px]"
    ></i>
  </div>
</section>
