---
import BaseLayout from "../layouts/baseLayout.astro";
import Header from "../components/header.astro";
import AboutMe from "../components/aboutMe.astro";
import Projects from "../components/projects.astro";
import Skills from "../components/skills.astro";
import Contact from "../components/contact.astro";
---

<BaseLayout>
  <Header />
  <main id="aboutme">
    <AboutMe />
  </main>
  <Projects />
  <Skills />
  <Contact />
</BaseLayout>
